:root {
    --primary:#0275d8; 
    --cardsBg: #005792;
    --font-family: 'Manrope', sans-serif;
  }

  html {
    font-size: 62.5%;
  }

  .navbar{
    height: 10rem!important;
  }

  p{
    font-family: var(--font-family);
    font-size: medium;
  }

  h1{
    font-size: 5rem;
    font-weight: 250;
    letter-spacing: 0.1rem;
    color: white
  }

  h4{
    font-family: var(--font-family);
    font-size: 2.5rem;
  }

.fiveDayHeader {
  font-family: var(--font-family);
  font-size: 30px;
}

.mainHeader {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

#cityInput:placeholder-shown,
 .form-control{
     font-size: 2rem;
 }

#currentCity {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
}

#currentWeatherInfo {
  font-family: var(--font-family);
}

#fiveDay .card {
  border: 2px solid var(--cardsBg) !important;
  box-shadow: 5px 5px 5px var(--cardsBg);
}

  #weatherContent {
    display: none;
  }

  #searchResults,
  #cityDetail
  .card {
    background-color: var(--cardsBg);
  }

  #searchResults {
    height: 100vh
  }

#historyResults,
#cityContent
.card{
    background-color: var(--primary);
}

#citySearch{
    height: 100vh;
}


