:root {
    --primary:#0275d8; 
    --cardsBg: #005792;
  }

  html {
    font-size: 62.5%;
  }

  .navbar{
    height: 10rem!important;
  }

  h1{
    font-size: 5rem;
    font-weight: 250;
    letter-spacing: 0.1rem;
    color: white
  }

  #weatherContent {
    display: none;
  }

  #cityDetail,
  #uvIndexColor, li {
    color: #4D4F53!important;;
  }

  #searchResults,
  #cityDetail
  .card {
    background-color: var(--cardsBg);
  }

  #searchResults {
    height: 100vh
  }

#historyResults,
#cityContent
.card{
    background-color: var(--primary)!important;
}

#citySearch{
    height: 100vh;
}


